<% selected = advanced_select_option_selected?(option, selected_options) %>
<button type="button"
        class="<%= advanced_select_class(class_map, :option, (:option_selected if selected)) %>"
        role="option"
        aria-selected="<%= selected %>"
        data-advanced-select-option
        data-action="mouseenter->advanced-select#activateOption mousedown->advanced-select#choose"
        data-advanced-select-value-param="<%= option.fetch(:id) %>"
        data-advanced-select-submit-value-param="<%= advanced_select_option_value(option) %>"
        data-advanced-select-label-param="<%= advanced_select_option_label(option) %>"
        data-advanced-select-display-label-param="<%= advanced_select_option_display_label(option) %>">
  <span class="<%= advanced_select_class(class_map, :option_check) %>" data-advanced-select-option-check><% if selected %>&#10003;<% end %></span>
  <% if option_content_partial.present? %>
    <%= render partial: option_content_partial, locals: { option: option } %>
  <% else %>
    <%= render partial: "advanced_select/default_option_content", locals: { option: option, class_map: class_map } %>
  <% end %>
</button>
