<div id="<%= target_id %>"
     class="<%= advanced_select_class(class_map, :options) %>"
     data-advanced-select-target="options"
     aria-busy="false"
     <% if local_assigns[:multiple] %>aria-multiselectable="true"<% end %>
     role="listbox">
  <% advanced_select_option_groups(options).each do |group| %>
    <% if group[:label].present? %>
      <div class="<%= advanced_select_class(class_map, :group_label) %>"><%= group.fetch(:label) %></div>
    <% end %>

    <% group.fetch(:options).each do |option| %>
      <%= render partial: "advanced_select/option", locals: { option: option, selected_options: selected_options, option_content_partial: option_content_partial, class_map: class_map } %>
    <% end %>
  <% end %>

  <% if advanced_select_add_option?(options, selected_options, add_mode, query) %>
    <button type="button"
            class="<%= advanced_select_class(class_map, :add_option) %>"
            data-advanced-select-add-option
            data-action="mouseenter->advanced-select#activateOption mousedown->advanced-select#add"
            data-advanced-select-value-param="<%= "__new__:#{query}" %>"
            data-advanced-select-submit-value-param="<%= "__new__:#{query}" %>"
            data-advanced-select-label-param="<%= query %>"
            data-advanced-select-display-label-param="<%= query %>">
      <%= t("shared.advanced_select.add_option", query: query) %>
    </button>
  <% elsif advanced_select_options_empty?(options) %>
    <div class="<%= advanced_select_class(class_map, :empty) %>"><%= t("shared.advanced_select.empty") %></div>
  <% end %>
</div>
