<% if selected_options.any? %>
  <% if multiple %>
    <% selected_options.first(2).each do |option| %>
      <span class="<%= advanced_select_class(class_map, :token) %>"><%= option.fetch(:display_label) %></span>
    <% end %>
    <% if selected_options.size > 2 %>
      <span class="<%= advanced_select_class(class_map, :token) %>"><%= "& +#{selected_options.size - 2}" %></span>
    <% end %>
  <% else %>
    <span class="<%= advanced_select_class(class_map, :value) %>"><%= selected_options.first.fetch(:display_label) %></span>
  <% end %>
<% else %>
  <span class="<%= advanced_select_class(class_map, :placeholder) %>"><%= placeholder %></span>
<% end %>
